repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.10
  hooks:
  - id: ruff-check
    args: [--fix]
  
  # Run the formatter.
  - id: ruff-format

- repo: https://github.com/allganize/ty-pre-commit
  rev: v0.0.7
  hooks:
  # Run the type checker.
  - id: ty-check
    exclude: .*test.*.py$

-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: cargo-check
        args: ["--workspace"]
    -   id: fmt
        args: ["--", "--check"]
    -   id: clippy
        args: ["--", "-D", "warnings"]